.idea
pkg
bin
out
src/github.com
*.pyc
*__pycache__
test*.py
goodbc_python.so
_goodbc_python.so
goodbc_python.py
goodbc_python/py2
gopy
prebuilt
.cache
.pytest_cache
.vscode
main.go
build/
dist/
goodbc_python.egg-info/
.DS_Store